
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 60px;
    font-family: 'Poppins';
}

.navBar{
    display: flex;
    align-items: center;
        /* This vertically centers the children */
    background-color: #C4E4C7;
        
}

.navBar ul {
    display: flex;
    
    gap: 20px;
    list-style-type: none  
}

.navBar ul li a{
    text-decoration: none;
    line-height: 60px;
        /* Matches navbar height */   
}

/* ///////////table/////////// */
.task-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin: 20px 0;
}

.task-table th,
.task-table td {
    border: 1px solid #ccc;
    padding: 12px 15px;
    text-align: left;
}

.task-table thead {
    background-color: #f4f4f4;
}

.task-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.task-table tbody tr:hover {
    background-color: #e6f7ff;
}

/* ///////////////////////////// */

a.active {
    color:darkblue;
}

.form {
    
    margin-top: 50px;
    /* display: flex; */
    
}

input, textarea, select{
    display: block;
    margin: 20px;
    width: 300px;
    border-radius: 10px;
}

p {
    height: 20px;
    font-size: small;
    margin-right: 20px;
    text-align: start;
}

.add-btn {
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.65) ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

button {
    margin: 20px;
    border-radius: 10px;
    padding: 10px;}
