
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 60px;
}

.navBar{
    display: flex;
    background-color: #C4E4C7;
}

.navBar ul {
    display: flex;
    gap: 10px;
    list-style-type: none  
}
